<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal page</title>
    <style>
        body {
            background-color: darkorchid;
            font-family: "Comic Sans MS", serif;
            display: grid;
            place-items: center;
        }
        #title {
            font-size: 48px;
        }
        #animal-name {
            font-size: 24px;
        }
        #animal-species {
            font-size: 24px;
        }
    </style>
</head>
<body>
<h1 id="title">Your Animal</h1>

<p id="animal-name">Name: <span th:text="${animal.name}"></span></p>
<p id="animal-species">Species: <span th:text="${animal.species}"></span></p>

<div>
    <a href="https://dyrenesbeskyttelse.dk">
    <img src="/catt.jpeg" width="225" height="225" alt="">
    </a>
</div>

</body>
</html>